body {
    background-color:aquamarine;
    color:blueviolet;
    font-size: 21px;
}

h1 {
    font-size: 70px;
    font-style: italic;
    animation: blinkingtext 2s infinite;
    margin: 10px;
    text-align: center;
}
/* The blinking method in css */
    @keyframes blinkingtext {
        0%  {color: magenta;}
        25% {color:cyan;}
        50% {color: magenta;}
        75% {color:cyan;}
        100%  {color: magenta;}
    }

.recipe-list {
    width: 500px;
    color: rgb(255, 0, 183);
    font-family:'Courier New', Courier, monospace;
    display: inline-block;
    margin-left: 0px;
    margin-top: 0px;
    align-items: top;
}

.chef-photo {
    display: inline-block;
    width: 300px;
}

img {
    width: 300px;
    display: inline-block;

}
